# This file was created by bootstrap-vz.
# See https://github.com/kevin-olbrich/bootstrap-vz/blob/master/LICENSE for
# legal notices and disclaimers.

[Unit]
Description=Retrieve the ssh credentials and add to authorized_keys
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/etc/init.d/ec2-get-credentials start
Type=oneshot
RemainAfterExit=yes
# The units systemd generated for the SysV script did not ignore SIGPIPE either
IgnoreSIGPIPE=no

[Install]
WantedBy=multi-user.target
